body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
   
}

/* Navbar */
nav{
    background-color: rgb(27, 27, 27);
    display: flex;
    justify-content: space-between;
    justify-content: center;
    padding: 10px;
}

.navbar{
    padding: 5px;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
}

.navbar ul li{
    padding: 5px;
    text-align: center;
    list-style: none;
}

.navbar ul li img{
    border-radius: 20px;
    width: 30px;
}

.navbar ul li i{
    font-size: 20px;
    color: aliceblue;
}

.navbar ul li a:hover{
    color: aliceblue;
}

.navbar ul li a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: rgb(100, 100, 100);
    padding: 10px;
    margin: 10px;
    font-size: 17px;

    animation-delay: 1s;
    animation-timing-function: ease-out;
    transition-duration: 0.4s;
}



/* Navbar Greet Side Web */
.main .puro .mainheader{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: rgb(36, 35, 35); */
    background-color: black;
    color: aliceblue;
}

.image img{
    padding-top: 40px;
    width: 550px;
}


.main .banner{
    background-image: url(macbook-pro.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 580px;
    background-size: cover;
    color: aliceblue;
}

.main .banner .container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link, h4{
    margin-top: -20px;
}

.banner .link a{
    padding: 15px;
    color: skyblue;
}

.main .banner .container h1{
    font-size: 50px;
    font-weight: 500;
}

.main .banner .container h4{
    font-size: 25px;
    font-weight: 100;
}

/* Content Web */
.content{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.content .block1 img{
    position: relative;
    width: 600px;
    height: 600px;
}

.content .block2 img{
    width: 600px;
    height: 600px;
}

.content .block3 img{
    width: 600px;
    height: 600px;
}

.content .block4 img{
    width: 600px;
    height: 600px;
}

.content .block1{
    border: 5px solid skyblue;
}

.content .container{
    text-align: center;
    align-items: center;
    margin-top: 10px;
    left: 240px;
    z-index: 2;
    position: absolute;
}

.content .container .textC h1{
    color: yellowgreen;
    font-size: 50px;
}

.content .container .textC h3{
    margin-top: -40px;
}

.content .container .linkC{
    margin-top: -15px;
}

.content .container .linkC a{
    color: skyblue;
}

.content .block2{
    border: 5px solid skyblue;
}

.content .block2 .container2{
    text-align: center;
    align-items: center;
    margin-top: 10px;
    right: 245px;
    z-index: 2;
    position: absolute;
    color: aliceblue;
}

.content .container2 .textC h1{
    color: darkseagreen;
    font-size: 50px;
}

.content .container2 .textC h3{
    margin-top: -40px;
}

.content .container2 .linkC{
    margin-top: -15px;
}

.content .container2 .linkC a{
    color: skyblue;
}

.content .block3{
    border: 5px solid skyblue;
}

.content .block3 .container3{
    text-align: center;
    align-items: center;
    margin-top: 10px;
    left: 220px;
    z-index: 2;
    position: absolute;
}


.content .container3 .textC h1{
    color: darkorchid;
    font-size: 50px;
}

.content .container3 .textC h3{
    margin-top: -40px;
}

.content .container3 .linkC{
    margin-top: -15px;
}

.content .container3 .linkC a{
    color: skyblue;
}

.content .block4{
    border: 5px solid skyblue;
}

.content .block4 .container4{
    text-align: center;
    align-items: center;
    margin-top: 10px;
    right: 225px;
    z-index: 2;
    position: absolute;
}

.content .container4 .textC h1{
    color: coral;
    font-size: 50px;
}

.content .container4 .textC h3{
    margin-top: -40px;
}

.content .container4 .linkC{
    margin-top: -15px;
}

.content .container4 .linkC a{
    color: skyblue;
}

/* Footer Web */
.footer{
    color: aliceblue;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0;
    background-color: rgb(8, 8, 8);
}

.footer div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.footer a{
    color: aliceblue;
    margin-top: 15px;
    text-decoration: none;
    font-weight: 100;
}